<div class="section">
<div class="article">
		<h3>미군이 철수하면 북한이 쳐들어 오나요?</h3>
		<p>50년전 북한의 침략이 우려되는 상황에서 미군은 철수했습니다.<br />
		그리하여 전쟁이 일어났고 미군은 다시 들어왔습니다. <a href="">이상황에 대해서 더 알기</a>	
		</p>
		<p>
		하지만 지금의 상황은 어떨까요?
		<blockquote>
			48명이사는 나라가 22명이 나라와 전쟁을 한다면?
		만약 22명이 사는 나라가 월등한 무장을 했다면 결과는 달라지겠지만 동일한 상황이라면 48명이 사는 나라가 손쉽게 이기겠지요.
		헌데 반대로 48명이 사는 나라가 월등한 무장을 했다면? 더 할말이 없겠지요?
		 이상의 예가 남한과 북한이였습니다. 
		</blockquote>
		 
		 이미 우리의 군비는 1980년이후로 북한을 추월하기 시작하여 지금은 비교한다는거 자체가 불가능한 수준에 이르렀습니다.<br />
		 헌데도 아직도 우습게 북한위협 운운하는 코미디같은 언론의 행태는 과연 그들의 목적이 어디에 있는지 쉽게 짐작할수 있게 합니다.<br />
		 <br />
		그래서 미군주둔의 주목적이 한국의 북한침략을 저지하기 위함이라는 우스개 소리까지 있습니다. 
		</p>
	</div>
</div>