<section id="section_army">
	<section>
	<h1>이곳은 모두의 행복을 위한 사이트입니다.</h1>
	<article>
		<h2>타지에서 고생하는 미국젊은이들을 고향으로~!!!</h2>
		<p>멀고먼 이곳까지 와서 고생하는 미국젊은이들을 보면 가슴이 아파 눈물이 흐릅니다.
		이제 그들을 따뜻한 고향으로 돌려보냅시다.
		더이상 그들을 타지에서 고생시키지 맙시다.
		</p>
	</article>
	<article>
		<h2>이제는 양키가 집으로 돌아갈 시간</h2>
		<p>이제는 양키가 돌아가야할시간, 다음에 다시만나요~(이왕이면 안봤으면 좋겠네) </p>
	</article>
	<article>
		<h2>본 사이트는 소수 사용자의 사용성 향상을 위해 노력합니다.</h2>
		<ol>
			<li>IE가 아닌 환경에서도 사용 가능한 사이트</li>
     <li>자바스크립트 없이도 사용 가능한 사이트</li>
     <li>CSS 없이도 사용 가능한 사이트</li>
     <li>저 해상도에서도 사용 가능한 사이트</li>
     <li>이미지 없이도 사용 가능한 사이트</li>
     <li>저 컬러에서도 같은 색상으로 표현 되는 사이트</li>
     <li>저용량으로 빠르게 반응하는 사이트</li>
	 	</ol>
	</article>
	<article>
		<h2>사이트 기반 기술 소개</h2>
		<%= link_to image_tag("html5.png",:size=>"65×64",:alt=>"html5"),"http://w3c.org",:title=>"html5" %>	
		<%= link_to image_tag("rails.png",:size=>"50×64",:alt=>"rails"),"http://rails.org",:title=>"rails" %>
		<%= link_to image_tag("mysql.png",:size=>"123×64",:alt=>"mysql"),"http://rails.org",:title=>"rails" %>			
	</article>
</section>
