<header>
	<nav>
		<ul>
			<li><%=link_to '홈' , '/admin' %></li>
		</ul>
	</nav>	
	<div id="welcome">환영합니다. <a href="/admin/account/show.php"><%=current_user.name %> 님</a> <%= link_to t(:logout),destroy_user_session_path %></div>
</header>