<div class="section">
	<h2>양키군대가 들어와서 한일들</h2>
	<div class="article">
		<h3>한반도 긴장 고조</h3>
		<p>
		</p>
	</div>
	<div class="article">
		<h3>한국군 무기체계 독점 남품</h3>
		<p>
		</p>
	</div>
	<div class="article">
		<h3>각종 범죄</h3>
		<p>연약한 여자나 노인에게도 무자비한 폭력을 행사, 사람죽여도 SOFA~~ ,본국 교도소에서 몇년 있지뭐</p>
	</div>
	<div class="article">
		<h3>환경파괴</h3>
		<p>각종 폐유,탄약,포탄,지뢰,폐 보조 물자,화학물질,고엽제,핵폭탄등 있는거는 전부 땅에 묻어두는 두더뒤같은 놈들</p>
	</div>
</div>