<div class="section">
	<h2>양키군대가 한반도를 떠나지 않는 이유</h2>
	<p>떠나지 않고 멀고먼 타지에서 50년 넘게 머물고 있는데는 이익이 있기 때문이겠지요?</p>
	<div classs="aticle">
		<h3>중국견제의 핵심</h3>
		<p>불침의 항공모함이라는 대만,오키나와 보다 수천Km가까운 베이징이 코앞인 한반도의 미군 주둔은 중국의 목에 칼을대고있는 형국임</p>
	</div>
	<div classs="aticle">
		<h3>한반도 긴장 고조를 통한 무기수출</h3>
		<p>이제는 양키가 돌아가야할시간, 다음에 다시만나요~(이왕이면 안봤으면 좋겠네) </p>
	</div>
</div>